# Agent-catalog-specific environment variables that identify where the catalog is stored.
AGENT_CATALOG_CONN_STRING=couchbase://localhost
AGENT_CATALOG_USERNAME=Administrator
AGENT_CATALOG_PASSWORD=password
AGENT_CATALOG_BUCKET=travel-sample
# For advanced vector search settings
AGENT_CATALOG_INDEX_PARTITION=1
AGENT_CATALOG_MAX_SOURCE_PARTITION=1024

# Couchbase-specific environment variables (for the travel-agent example tools).
CB_CONN_STRING=couchbase://localhost
CB_USERNAME=Administrator
CB_PASSWORD=password

# For example purposes, we want to see what our agent is doing (this is CF-specific).
CONTROLFLOW_TOOLS_VERBOSE=true
PREFECT_LOGGING_LEVEL=CRITICAL

# Streamlit-specific (just to disable file watching).
STREAMLIT_SERVER_FILE_WATCHER_TYPE=none

# The default locally hosted FastAPI addresses for our servers.
AGENT_CONN_DOMAIN=localhost
REWARDS_CONN_DOMAIN=localhost
AGENT_CONN_PORT=10000
REWARDS_CONN_PORT=10001

# Default model used when encoding our blog files.
DEFAULT_SENTENCE_EMODEL=sentence-transformers/all-MiniLM-L12-v2

# To stop sentence_transformers from being fussy about multiple imports.
TOKENIZERS_PARALLELISM=false

# The holy OpenAI API key. :-)
OPENAI_API_KEY=...
